<h1>New user</h1>

<%= render 'form' %>
<%= link_to "Register_Login with twitter", "/auth/twitter" , :class => "oauth"%>
<%= link_to "Register_Login with facebook", "/auth/facebook" , :class => "oauth"%>

